<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    .title
      h1 This is a simple webpack template to build simple static sites 🤨👻😆
      h2 It is basically setup with scss and pug, but you can use whatever you want.